
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

<p>Seu registro foi salvo com sucesso!</p>
<p>Sugerimos que busque por orientações por meio do <a href="https://aps.saude.gov.br/ape/corona/telesus" target="_blank">canal oficial do serviço de saúde</a></p>